# Written by Bitflu::Configuration@2240 on Fri Dec 12 18:26:40 2008
autocancel                = 1.5
autocommit                = 1
autoload_dir              = ./workdir/autoload
autoload_scan             = 300
checkversion              = 1229105151
chroot                    = /usr/share/bitflu
completed_downloads       = ./workdir/seeding
default_bind              = 0
history                   = 1
http_autoloadtorrent      = 1
http_maxthreads           = 10
incomplete_downloads      = ./workdir/unfinished
kademlia_idseed           = 0
logfile                   = 
loglevel                  = 5
plugindir                 = ./plugins
pluginexclude             = 
readpriority              = 4
renice                    = 8
runas_gid                 = 777
runas_uid                 = 777
sleeper                   = 0.04
storage                   = StorageVFS
telnet_bind               = 127.0.0.1
telnet_maxhist            = 20
telnet_port               = 4001
tempdir                   = tmp
torrent_bind              = 0
torrent_gcpriority        = 5
torrent_importdir         = ./workdir/import
torrent_maxpeers          = 60
torrent_maxreq            = 6
torrent_minpeers          = 15
torrent_port              = 6688
torrent_totalpeers        = 400
torrent_trackerblacklist  = 
torrent_upslots           = 10
unshared_downloads        = ./workdir/removed
upspeed                   = 35
webgui_bind               = 127.0.0.1
webgui_port               = 4081
workdir                   = ./workdir
writepriority             = 2
# EOF #
