# Example Configuration file for BitFlu


#   Port to use for BitTorrent connections
#   This port needs to be reachable from the internet
#   or your download-speed will suffer
 port = 6688

#   Port to use for the telnet-gui
 telnet = 4001

#   IP to bind telnet interface (default = ALL)
 telnetbind = 127.0.0.1

#   Port for the http-gui
 http = 4081

#   IP to bind the http interface (default = ALL)
 httpbind = 127.0.0.1

#   Maximal number of peers per torrent
 maxpeers = 48

#   Connect to X peers at once
 grabpeers = 32

#   Limit upload to X KiB/s
 maxup = 45

#   Reserve X KiB upload bandwidth for each torrent
# unchokeup = 5

#   Specify bitflu workdir
 rootdir = ./workdir

#   Directory to check for .torrent files
#   Defaults to $rootdir/autoload
 autoloaddir = ./autoload

#   Scan autoload-directory each X seconds
 kick_autoload = 300

#   Try to connect to new peers found via Tracker or PEX each X seconds
 kick_refreshpeers = 111

#   How often shall we flush our buffers per second?
 write_per_sec = 15

# Setting this to '1' will cause bitflu to 'notify' connected
# telnet-clients about completed downloads using 'wall' ([Bitflu message])
 notifycompleted = 1

#   Directory where stuff for the 'publish'
#   command is stored, defaults to $rootdir/publish
 publishdir = ./publish


#   Chroot into this directory after startup
#   This is recommended for security reasons but
#   takes some effort to get it running:
#   You'r chroot directory needs to provide
#   * /dev/zero
#   * /etc/protocols
#   * /etc/resolv.conf
#   * /lib/libnss*
#   * /lib/libresolv.so.2
#   (..using linux)
 chroot = /usr/share/bitflu

#   Switch UID after starting up as root
 runas_uid = 777
#   Switch GID after starting up as root
 runas_gid = 777

#   Regexp of BLACKLISTED tracker-URLs
# trackerblacklist = ^127\.0|^192\.|example\.com

